OPENWEATHER_API_KEY="your_openweather_api_key"
GEMINI_API_KEY="your_gemini_api_key"
GROQ_API_KEY="your_groq_api_key"
TWILIO_ACCOUNT_SID="your_twilio_sid"
TWILIO_AUTH_TOKEN="your_twilio_auth_token"
TWILIO_PHONE_NUMBER="whatsapp:+your_number"
MOCK_WHATSAPP=True
DATA_GOV_API_KEY="your_data_gov_api_key"
DATA_GOV_API_KEYS="your_data_gov_api_key_1,your_data_gov_api_key_2"
# --- DATABASE CONFIGURATION ---
DATABASE_URL="postgresql://user:password@db.supabase.co:5432/postgres"
FORCE_SQLITE=True
GOOGLE_MAPS_API_KEY="your_google_maps_api_key"
AGROMONITORING_API_KEY="your_agromonitoring_api_key"
